<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <system.serviceModel>
<!--this is from StackOverflow.-->
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>-->
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webHttpEndpoint>
      <webScriptEndpoint>
        <standardEndpoint crossDomainScriptAccessEnabled="true"></standardEndpoint>
      </webScriptEndpoint>
    </standardEndpoints>
    
    <bindings>
      <webHttpBinding>
        <binding name="crossDomainTest" crossDomainScriptAccessEnabled="true">
          <security mode="None"></security>
        </binding>
        
        <!--When the aspx is running, the port number in the URL is not the same as that of the service port meaning they are from different domain. So we have to add this crossDomain and use JSONP instead of JSON.-->
      </webHttpBinding>
	 
    </bindings>
    <behaviors>
      <endpointBehaviors> <!--This endpointBehaviors is added by myself.-->
        <behavior name="WcfOnlineRestfulAjaxWalkThrough.EmployeeServiceAspNetAjaxBehavior">
          <webHttp/>
          
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services> <!--This part is added by myself-->
      <service name="WcfOnlineRestfulAjaxWalkThrough.EmployeeService">
        <!--<endpoint address="" behaviorConfiguration="WcfOnlineRestfulAjaxWalkThrough.EmployeeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="WcfOnlineRestfulAjaxWalkThrough.IEmployeeService" />-->
        <endpoint address="" behaviorConfiguration="WcfOnlineRestfulAjaxWalkThrough.EmployeeServiceAspNetAjaxBehavior" binding="webHttpBinding" bindingConfiguration="crossDomainTest" contract="WcfOnlineRestfulAjaxWalkThrough.IEmployeeService" />

      </service>
    </services>
  </system.serviceModel>
  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true" />

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>

    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
